<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/2%EC%B0%A8%EC%9B%90%EC%9C%BC%EB%A1%9C_%EB%A7%8C%EB%93%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 정수 배열 num_list와 정수 n이 매개변수로 주어집니다.
# num_list를 다음 설명과 같이 2차원 배열로 바꿔 return하도록 solution 함수를 완성해주세요.

# num_list가 [1, 2, 3, 4, 5, 6, 7, 8] 로 길이가 8이고 n이 2이므로
# num_list를 2 * 4 배열로 다음과 같이 변경합니다.
# 2차원으로 바꿀 때에는 num_list의 원소들을 앞에서부터 n개씩 나눠 2차원 배열로 변경합니다.

# num_list	                  n	        result
# [1, 2, 3, 4, 5, 6, 7, 8]	  2	        [[1, 2], [3, 4], [5, 6], [7, 8]]

# 제한사항
# num_list의 길이는 n의 배 수개입니다.
# 0 ≤ num_list의 길이 ≤ 150
# 2 ≤ n < num_list의 길이

# 입출력 예
# num_list	                            n	      result
# [1, 2, 3, 4, 5, 6, 7, 8]	            2	      [[1, 2], [3, 4], [5, 6], [7, 8]]
# [100, 95, 2, 4, 5, 6, 18, 33, 948]	  3	      [[100, 95, 2], [4, 5, 6], [18, 33, 948]]

# 입출력 예 설명
# 입출력 예 #1
# num_list가 [1, 2, 3, 4, 5, 6, 7, 8] 로 길이가 8이고 n이 2이므로
# 2 * 4 배열로 변경한 [[1, 2], [3, 4], [5, 6], [7, 8]] 을 return합니다.

# 입출력 예 #2
# num_list가 [100, 95, 2, 4, 5, 6, 18, 33, 948] 로 길이가 9이고 n이 3이므로
# 3 * 3 배열로 변경한 [[100, 95, 2], [4, 5, 6], [18, 33, 948]] 을 return합니다.

In [3]:
# 풀이봄, 이건 전혀 감이 안왔음
def solution(num_list, n):
    answer = [num_list[i*n : (i+1)*n] for i in range(len(num_list) // n)]

    return answer

In [4]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8]
n = 2
solution(num_list, n)

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [5]:
num_list = [100, 95, 2, 4, 5, 6, 18, 33, 948]
n = 3
solution(num_list, n)

[[100, 95, 2], [4, 5, 6], [18, 33, 948]]

In [6]:
# 다른 사람 풀이

In [7]:
# 이거 보니까 이해가 됨
def solution(num_list, n):
    answer = []
    for i in range(0, len(num_list), n):
        answer.append(num_list[i:i+n])
    return answer

In [8]:
# 이게 있었네  *****
import numpy as np
def solution(num_list, n):
    li = np.array(num_list).reshape(-1,n)
    return li.tolist()