<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EB%82%A0%EC%A7%9C_%EB%B9%84%EA%B5%90%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 문제 설명
# 정수 배열 date1과 date2가 주어집니다.
# 두 배열은 각각 날짜를 나타내며 [year, month, day] 꼴로 주어집니다.
# 각 배열에서 year는 연도를, month는 월을, day는 날짜를 나타냅니다.

# 만약 date1이 date2보다 앞서는 날짜라면 1을,
# 아니면 0을 return 하는 solution 함수를 완성해 주세요.

# 제한사항
# date1의 길이 = date2의 길이 = 3
# 0 ≤ year ≤ 10,000
# 1 ≤ month ≤ 12
# day는 month에 따라 가능한 날짜로 주어집니다.

# 입출력 예
# date1	              date2	                  result
# [2021, 12, 28]	    [2021, 12, 29]	          1
# [1024, 10, 24]	    [1024, 10, 24]	          0

# 입출력 예 설명
# 입출력 예 #1
# date1이 date2보다 하루 앞서기 때문에 1을 return 합니다.

# 입출력 예 #2
# date1과 date2는 날짜가 서로 같으므로 date1이 더 앞서는 날짜가 아닙니다.
# 따라서 0을 return 합니다.

In [5]:
# datetime 쓰면 쉬워 보이는데 까먹어서 노가다 ㄱㄱ
def solution(date1, date2):
    answer = 0
    d1 = ''
    d2 = ''
    for i in range(len(date1)):
      d1 += str(date1[i])
      d2 += str(date2[i])
    if int(d1) < int(d2):
      answer = 1
    return answer

In [6]:
date1 = [2021, 12, 28]
date2 = [2021, 12, 29]
solution(date1, date2)

1

In [7]:
date1 = [1024, 10, 24]
date2 = [1024, 10, 24]
solution(date1, date2)

0

In [8]:
# 다른 사람 풀이

In [9]:
# 이게 되네?? 해볼껄 ㅋㅋㅋ
def solution(date1, date2):
    return int(date1 < date2)

In [10]:
def solution(date1, date2):
    for i in range(3):
        if date1[i]<date2[i]:return 1
        elif date2[i]<date1[i]: return 0
    return 0

In [11]:
# 그냥 이렇게 하면 되는구나, 괜히 어렵게 생각 했네
import datetime
def solution(date1, date2):
    return 1 if datetime.date(date1[0], date1[1], date1[2])  < datetime.date(date2[0], date2[1], date2[2]) else 0

In [12]:
from datetime import date

def solution(date1, date2):
    date1 = date(date1[0], date1[1], date1[2])
    date2 = date(date2[0], date2[1], date2[2])
    return 1 if date1 < date2 else 0