<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EB%93%B1%EC%88%98_%EB%A7%A4%EA%B8%B0%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 영어 점수와 수학 점수의 평균 점수를 기준으로 학생들의 등수를 매기려고 합니다.
# 영어 점수와 수학 점수를 담은 2차원 정수 배열 score가 주어질 때,
# 영어 점수와 수학 점수의 평균을 기준으로 매긴 등수를 담은 배열을
# return하도록 solution 함수를 완성해주세요.

# 제한사항
# 0 ≤ score[0], score[1] ≤ 100
# 1 ≤ score의 길이 ≤ 10
# score의 원소 길이는 2입니다.
# score는 중복된 원소를 갖지 않습니다.

# 입출력 예
# score	                                                                        result
# [[80, 70], [90, 50], [40, 70], [50, 80]]	                                    [1, 2, 4, 3]
# [[80, 70], [70, 80], [30, 50], [90, 100], [100, 90], [100, 100], [10, 30]]	  [4, 4, 6, 2, 2, 1, 7]

# 입출력 예 설명
# 입출력 예 #1
# 평균은 각각 75, 70, 55, 65 이므로 등수를 매겨 [1, 2, 4, 3]을 return합니다.

# 입출력 예 #2
# 평균은 각각 75, 75, 40, 95, 95, 100, 20 이므로 [4, 4, 6, 2, 2, 1, 7] 을 return합니다.
# 공동 2등이 두 명, 공동 4등이 2명 이므로 3등과 5등은 없습니다.

In [15]:
# 안될거 같았는데 결구 안됨 ㅠㅠ풀이봄
def solution(score):
    answer = []
    ms = [(s[0]+s[1])/2 for s in score] # 다 2개씩이라서 합으로 해줘도 상관은 없음 일단 평균이라 해서
    sorts = sorted(ms, reverse = True) # 내림 차순으로 정렬

    for i in ms:
      answer.append(sorts.index(i) +1) # i를 ms에 넣어서 그 i 와 같은 수를 sorts를 찾아 인덱스에 1을 더해서 append해줌
                                        #  이렇게 하면 동수를 굳이 신경 안써도 됨


    return answer

In [16]:
score = [[80, 70], [90, 50], [40, 70], [50, 80]]
solution(score)

[1, 2, 4, 3]

In [17]:
score = [[80, 70], [70, 80], [30, 50], [90, 100], [100, 90], [100, 100], [10, 30]]
solution(score)

[4, 4, 6, 2, 2, 1, 7]

In [18]:
# 다른 사람 풀이

In [ ]:
# 내가 원했지만 실패한 코드
def solution(score):
    a = sorted([sum(i) for i in score], reverse = True)
    return [a.index(sum(i))+1 for i in score]