<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EB%93%B1%EC%B0%A8%EC%88%98%EC%97%B4%EC%9D%98_%ED%8A%B9%EC%A0%95%ED%95%9C_%ED%95%AD%EB%A7%8C_%EB%8D%94%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문제 설명
# 두 정수 a, d와 길이가 n인 boolean 배열 included가 주어집니다.
# 첫째항이 a, 공차가 d인 등차수열에서 included[i]가 i + 1항을 의미할 때,
# 이 등차수열의 1항부터 n항까지 included가 true인 항들만 더한 값을
# return 하는 solution 함수를 작성해 주세요.

# 제한사항
# 1 ≤ a ≤ 100
# 1 ≤ d ≤ 100
# 1 ≤ included의 길이 ≤ 100
# included에는 true가 적어도 하나 존재합니다.

# 입출력 예
# a	    d	      included	                                                result
# 3	    4	      [true, false, false, true, true]	                          37
# 7	    1	      [false, false, false, true, false, false, false]	          10

# 입출력 예 설명
# 입출력 예 #1
# 예제 1번은 a와 d가 각각 3, 4이고 included의 길이가 5입니다.
# 이를 표로 나타내면 다음과 같습니다.

# 1항	2항	3항	4항	5항
# 등차수열	3	7	11	15	19
# included	true	false	false	true	true
# 따라서 true에 해당하는 1항, 4항, 5항을 더한 3 + 15 + 19 = 37을 return 합니다.

# 입출력 예 #2
# 예제 2번은 a와 d가 각각 7, 1이고 included의 길이가 7입니다.
# 이를 표로 나타내면 다음과 같습니다.

# 1항	2항	3항	4항	5항	6항	7항
# 등차수열	7	8	9	10	11	12	13
# included	false	false	false	true	false	false	false
# 따라서 4항만 true이므로 10을 return 합니다.

In [ ]:
def solution(a, d, included):
    answer = 0
    la = list(range(a, d*len(included)))
    for idx, i in enumerate(included):
      if i == 1:
        answer += (a + d * idx)
    return answer

In [ ]:
a = 3
d = 4
included = [True, False, False, True, True]
solution(a, d, included)

37

In [ ]:
a = 7
d = 1
included = [False, False, False, True, False, False, False]
solution(a, d, included)

10

In [ ]:
# 다른 사람 풀이

In [ ]:
def solution(a, d, included):
    answer = 0
    for i in range(len(included)):
        answer += (a + d * i) * int(included[i])
    return answer

In [ ]:
def solution(a, d, included):
    return sum(a + i * d for i, f in enumerate(included) if f)

In [ ]:
# 이거 조금 ㅋㅋㅋ
def solution(a, d, included):
    ai = a
    answer = 0
    for i in included:
        if i == True:
            answer += ai
        ai = ai + d
    return answer