<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EB%AC%B8%EC%9E%90%EC%97%B4_%EC%A0%95%EC%88%98%EC%9D%98_%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 한 자리 정수로 이루어진 문자열 num_str이 주어질 때,
# 각 자리수의 합을 return하도록 solution 함수를 완성해주세요.

# 제한사항
# 3 ≤ num_str ≤ 100
# 입출력 예
# num_str	          result
# "123456789"	        45
# "1000000"	           1

# 입출력 예 설명
# 입출력 예 #1
# 문자열 안의 모든 숫자를 더하면 45가 됩니다.

# 입출력 예 #2
# 문자열 안의 모든 숫자를 더하면 1이 됩니다.

In [6]:
def solution(num_str):
    answer = 0
    for i in range(len(num_str)):
      answer += int(num_str[i])
    return answer

In [7]:
num_str = "123456789"
solution(num_str)

45

In [8]:
num_str = "1000000"
solution(num_str)

1

In [9]:
# 다른 사람 풀이

In [10]:
def solution(num_str):
    return sum(map(int, list(num_str)))

In [11]:

solution=lambda s:sum(map(int,s))