<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EB%AC%B8%EC%9E%90%EC%97%B4_%EB%B0%98%EB%B3%B5%ED%95%B4%EC%84%9C_%EC%B6%9C%EB%A0%A5%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 문자열 str과 정수 n이 주어집니다.
# str이 n번 반복된 문자열을 만들어 출력하는 코드를 작성해 보세요.

# 제한사항
# 1 ≤ str의 길이 ≤ 10
# 1 ≤ n ≤ 5

# 입출력 예
# 입력 #1
# string 5

# 출력 #1
# stringstringstringstringstring

In [2]:
# 문제
# a, b = input().strip().split(' ')
# b = int(b)

In [4]:
a, b = input().strip('').split(' ')
b = int(b)
print(a * b)

string 5
stringstringstringstringstring

In [5]:
# 다른 사람 풀이

In [6]:
a, b = input().strip().split(' ')
b = int(b)

result = a * b
print(result)

ㄴㄴ 4
ㄴㄴㄴㄴㄴㄴㄴㄴ

In [ ]:
a, b = input().strip().split(' ')
print(a * int(b))

In [ ]:
a, b = input().strip().split(' ')
for i in range(int(b)):
    print(a, end = "")

In [ ]:
a, b = input().strip().split(' ')
b = int(b)
s = ""
for i in range(b):
    s += a
print(s)