<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EB%AC%B8%EC%9E%90%EC%97%B4%EC%9D%84_%EC%A0%95%EC%88%98%EB%A1%9C_%EB%B3%80%ED%99%98%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 숫자로만 이루어진 문자열 n_str이 주어질 때,
# n_str을 정수로 변환하여 return하도록 solution 함수를 완성해주세요.

# 제한사항
# 1 ≤ n_str ≤ 5
# n_str은 0부터 9까지의 정수 문자로만 이루어져 있습니다.

# 입출력 예
# n_str   	  result
# "10"	        10
# "8542"	     8542

# 입출력 예 설명
# 입출력 예 #1
# "10"을 정수로 바꾸면 10입니다.

# 입출력 예 #2
# "8542"를 정수로 바꾸면 8542입니다.

In [4]:
def solution(n_str):
    answer = int(n_str)
    return answer

In [5]:
n_str = "10"
solution(n_str)

10

In [6]:
n_str = "8542"
solution(n_str)

8542

In [3]:
# 다른 사람 풀이

In [7]:
solution = int

In [8]:
solution = lambda x : int(x)