<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EB%B0%B0%EC%97%B4_%EB%92%A4%EC%A7%91%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 정수가 들어 있는 배열 num_list가 매개변수로 주어집니다.
# num_list의 원소의 순서를 거꾸로 뒤집은 배열을 return하도록 solution 함수를 완성해주세요.

# 제한사항
# 1 ≤ num_list의 길이 ≤ 1,000
# 0 ≤ num_list의 원소 ≤ 1,000

# 입출력 예
# num_list	                  result
# [1, 2, 3, 4, 5]	            [5, 4, 3, 2, 1]
# [1, 1, 1, 1, 1, 2]	        [2, 1, 1, 1, 1, 1]
# [1, 0, 1, 1, 1, 3, 5]	      [5, 3, 1, 1, 1, 0, 1]

# 입출력 예 설명
# 입출력 예 #1
# num_list가 [1, 2, 3, 4, 5]이므로 순서를 거꾸로 뒤집은 배열 [5, 4, 3, 2, 1]을 return합니다.

# 입출력 예 #2
# num_list가 [1, 1, 1, 1, 1, 2]이므로 순서를 거꾸로 뒤집은 배열 [2, 1, 1, 1, 1, 1]을 return합니다.

# 입출력 예 #3
# num_list가 [1, 0, 1, 1, 1, 3, 5]이므로 순서를 거꾸로 뒤집은 배열 [5, 3, 1, 1, 1, 0, 1]을 return합니다.

In [14]:
def solution(num_list):
    answer = num_list[: : -1]
    return answer

In [15]:
num_list = [1, 2, 3, 4, 5]
solution(num_list)

[5, 4, 3, 2, 1]

In [16]:
num_list = [1, 1, 1, 1, 1, 2]
solution(num_list)

[2, 1, 1, 1, 1, 1]

In [17]:
num_list = [1, 0, 1, 1, 1, 3, 5]
solution(num_list)

[5, 3, 1, 1, 1, 0, 1]

In [18]:
# 다른사람 풀이

In [19]:
# pop() 이용
def solution(num_list):
    result =[]
    while(num_list):
        result.append(num_list.pop())
    return result

In [ ]:
# 이거 헷갈렸음
def solution(num_list):
    num_list.reverse()
    return num_list

In [25]:
# a가 왜 None인지 모르겠음
num_list = [1, 0, 1, 1, 1, 3, 5]
a = num_list.reverse()
print(a)

None

In [24]:
#  이렇게 하니까 됐음 ㅋㅋㅋㅋ 좀 그럼
num_list = [1, 0, 1, 1, 1, 3, 5]
num_list.reverse()
num_list

[5, 3, 1, 1, 1, 0, 1]