<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EB%B0%B0%EC%97%B4%EC%9D%98_%EA%B8%B8%EC%9D%B4%EC%97%90_%EB%94%B0%EB%9D%BC_%EB%8B%A4%EB%A5%B8_%EC%97%B0%EC%82%B0%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 정수 배열 arr과 정수 n이 매개변수로 주어집니다.
# arr의 길이가 홀수라면 arr의 모든 짝수 인덱스 위치에 n을 더한 배열을,
# arr의 길이가 짝수라면 arr의 모든 홀수 인덱스 위치에 n을 더한 배열을
# return 하는 solution 함수를 작성해 주세요.

# 제한사항
# 1 ≤ arr의 길이 ≤ 1,000
# 1 ≤ arr의 원소 ≤ 1,000
# 1 ≤ n ≤ 1,000

# 입출력 예
# arr	                        n	          result
# [49, 12, 100, 276, 33]	    27	        [76, 12, 127, 276, 60]
# [444, 555, 666, 777]	      100	        [444, 655, 666, 877]

# 입출력 예 설명
# 입출력 예 #1
# 예제 1번의 arr의 길이는 5로 홀수입니다.
# 따라서 arr의 짝수 인덱스 0, 2, 4에 주어진 n 값인 27을 더하면
#  [76, 12, 127, 276, 60]이 됩니다. 따라서 [76, 12, 127, 276, 60]를 return 합니다.

# 입출력 예 #1
# 예제 2번의 arr의 길이는 4로 짝수입니다.
# 따라서 arr의 홀수 인덱스 1, 3에 주어진 n 값인 100을 더하면
#  [444, 655, 666, 877]이 됩니다. 따라서 [444, 655, 666, 877]를 return 합니다.

In [6]:
def solution(arr, n):
    answer = []
    if len(arr) % 2 == 1:
      for idx, num in enumerate(arr):
        if idx % 2 == 0:
          arr[idx] = num + n
    else:
      for idx, num in enumerate(arr):
        if idx % 2 == 1:
          arr[idx] = num + n
    answer = arr
    return answer

In [7]:
arr = [49, 12, 100, 276, 33]
n = 27
solution(arr, n)

[76, 12, 127, 276, 60]

In [8]:
arr = [444, 555, 666, 777]
n = 100
solution(arr, n)

[444, 655, 666, 877]

In [10]:
# 다른 사람 풀이

In [11]:
# 이렇게 간단한 거였다니 ㅋㅋㅋㅋㅋ
def solution(arr, n):
    N=len(arr)
    if N%2:
        for i in range(0,N,2): arr[i]+=n
    else:
        for i in range(1,N,2): arr[i]+=n
    return arr

In [12]:
# 이게 한줄로도 가능 하다니
def solution(arr, n):
    return [arr[i] + n if i % 2 == 0 else arr[i] for i in range(len(arr))] if len(arr) % 2 != 0 else [arr[i] + n if i % 2 != 0 else arr[i] for i in range(len(arr))]

In [13]:
# 와우
solution=lambda a,n: [x+n if i%2==(len(a)+1)%2 else x for i,x in enumerate(a)]

In [ ]:
# 신기한 코드가 정말 많군
#  [num + n*((len(arr)+i)%2) for i, num in enumerate(arr)]