<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EB%B0%B0%EC%97%B4%EC%9D%98_%EC%9B%90%EC%86%8C_%EC%82%AD%EC%A0%9C%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 정수 배열 arr과 delete_list가 있습니다.
# arr의 원소 중 delete_list의 원소를 모두 삭제하고
# 남은 원소들은 기존의 arr에 있던 순서를 유지한 배열을
# return 하는 solution 함수를 작성해 주세요.

# 제한사항
# 1 ≤ arr의 길이 ≤ 100
# 1 ≤ arr의 원소 ≤ 1,000
# arr의 원소는 모두 서로 다릅니다.
# 1 ≤ delete_list의 길이 ≤ 100
# 1 ≤ delete_list의 원소 ≤ 1,000
# delete_list의 원소는 모두 서로 다릅니다.

# 입출력 예
# arr	                          delete_list	                      result
# [293, 1000, 395, 678, 94]	    [94, 777, 104, 1000, 1, 12]	      [293, 395, 678]
# [110, 66, 439, 785, 1]	      [377, 823, 119, 43]	              [110, 66, 439, 785, 1]

# 입출력 예 설명
# 입출력 예 #1
# 예제 1번의 arr의 원소 중 1000과 94가 delete_list에 있으므로
# 이 두 원소를 삭제한 [293, 395, 678]을 return 합니다.

# 입출력 예 #2
# 예제 2번의 arr의 원소 중 delete_list에 있는 원소는 없습니다.
# 따라서 arr 그대로인 [110, 66, 439, 785, 1]을 return 합니다.

In [21]:
def solution(arr, delete_list):
    answer = []
    dlist = []
    for num in arr:
      for dnum in delete_list:
        if num == dnum:
          dlist.append(num)

    for i in dlist:
      arr.remove(i)
    answer = arr
    return answer

In [22]:
# 위에껄 해보니까 이렇게 보이더라
# 그런데 이게 틀렸단다 ㅋㅋㅋㅋ
# def solution(arr, delete_list):
#     answer = []
#     dlist = []
#     for num in arr:
#       for dnum in delete_list:
#         if num == dnum:
#           arr.remove(num)

#     answer = arr
#     return answer

In [19]:
arr = [293, 1000, 395, 678, 94]
delete_list = [94, 777, 104, 1000, 1, 12]
solution(arr, delete_list)

[293, 395, 678]

In [20]:
arr = [110, 66, 439, 785, 1]
delete_list = [377, 823, 119, 43]
solution(arr, delete_list)

[110, 66, 439, 785, 1]

In [23]:
# 다른 사람 풀이

In [24]:
# 이렇게 한줄 코드 진짜 쉽네
def solution(arr, delete_list):

    return [i for i in arr if i not in delete_list]

In [25]:
# 이렇게 하면 되는거였군
def solution(arr, delete_list):
    answer = []
    for i in delete_list:
        if i in arr:
            arr.remove(i)
    return arr

In [26]:
# 방법은 많구만
def solution(arr, delete_list):
    answer = []
    for x in arr:
        if x not in delete_list: answer.append(x)
    return answer