<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EC%84%B8%EA%B7%A0_%EC%A6%9D%EC%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문제 설명
# 어떤 세균은 1시간에 두배만큼 증식한다고 합니다.
# 처음 세균의 마리수 n과 경과한 시간 t가 매개변수로 주어질 때
# t시간 후 세균의 수를 return하도록 solution 함수를 완성해주세요.

# 제한사항
# 1 ≤ n ≤ 10
# 1 ≤ t ≤ 15

# 입출력 예
# n	          t	          result
# 2	          10	        2048
# 7	          15	        229,376

# 입출력 예 설명
# 입출력 예 #1
# 처음엔 2마리, 1시간 후엔 4마리, 2시간 후엔 8마리, ..., 10시간 후엔 2048마리가 됩니다.

#  따라서 2048을 return합니다.
# 입출력 예 #2
# 처음엔 7마리, 1시간 후엔 14마리, 2시간 후엔 28마리, ..., 15시간 후엔 229376마리가 됩니다.
# 따라서 229,376을 return합니다.

In [8]:
def solution(n, t):
    answer = n * (2 ** t)
    return answer

In [9]:
n, t = 2, 10
solution(n, t)

2048

In [10]:
n, t = 7, 15
solution(n, t)

229376

In [11]:
# 다른 사람 풀이

In [12]:
# 생각지도 못한 비트 연산자
# 알고는 있지만 쓰지는 못하는 ㅋㅋㅋㅋ
def solution(n, t):
    return n << t

In [ ]:
# 이렇게도 가능
def solution(n, t):
    for i in range(t) :
        n *= 2
    return n