<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EC%88%98%EC%97%B4%EA%B3%BC_%EA%B5%AC%EA%B0%84_%EC%BF%BC%EB%A6%AC_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 정수 배열 arr와 2차원 정수 배열 queries이 주어집니다.
# queries의 원소는 각각 하나의 query를 나타내며, [s, e, k] 꼴입니다.

# 각 query마다 순서대로 s ≤ i ≤ e인 모든 i에 대해
# k보다 크면서 가장 작은 arr[i]를 찾습니다.

# 각 쿼리의 순서에 맞게 답을 저장한 배열을 반환하는 solution 함수를 완성해 주세요.
# 단, 특정 쿼리의 답이 존재하지 않으면 -1을 저장합니다.

# 제한사항
# 1 ≤ arr의 길이 ≤ 1,000
# 0 ≤ arr의 원소 ≤ 1,000,000
# 1 ≤ queries의 길이 ≤ 1,000
# 0 ≤ s ≤ e < arr의 길이
# 0 ≤ k ≤ 1,000,000

# 입출력 예
# arr	                  queries	                                result
# [0, 1, 2, 4, 3]	      [[0, 4, 2],[0, 3, 2],[0, 2, 2]]	        [3, 4, -1]

# 입출력 예 설명
# 입출력 예 #1
# 첫 번째 쿼리의 범위에는 0, 1, 2, 4, 3이 있으며
# 이 중 2보다 크면서 가장 작은 값은 3입니다.
# 두 번째 쿼리의 범위에는 0, 1, 2, 4가 있으며
# 이 중 2보다 크면서 가장 작은 값은 4입니다.
# 세 번째 쿼리의 범위에는 0, 1, 2가 있으며 여기에는 2보다 큰 값이 없습니다.
# 따라서 [3, 4, -1]을 return 합니다.

In [53]:
# 답이 안나옴 ㅠㅠ 이렇게 헤맨적 처음이다 와 쉬고 다시온다
# def solution(arr, queries):
#     answer = []
#     for s, e, k in queries:
#       m = []
#       for i in range(s, e+1):
#         if arr[i] > k:
#           m.append(arr[i])
#           if len(m) == 0:
#             answer.append(-1)
#           answer.append(min(m))

    # return answer

In [70]:
# 풀이 봄
# 이해는 했는데 내께 왜 안되는지는 아직 모르겠음. 그럼 이해한게 아닌건가??
def solution(arr, queries):
    answer = []
    for s, e, k in queries:
        sub_arr = arr[s:e+1]
        sub_arr.sort()

        a = -1
        for i in sub_arr:
            if i > k:
                a = i
                break

        answer.append(a)

    return answer

In [71]:
arr = [0, 1, 2, 4, 3]
queries = [[0, 4, 2],[0, 3, 2],[0, 2, 2]]
solution(arr, queries)

[3, 4, -1]

In [72]:
# 다른 사람 풀이

In [ ]:
# 이거 보고 내꺼 틀린 이유 알겠음
def solution(arr, queries):
    answer = []
    for (s, e, k) in queries:
        num = int(1e9)
        for i in range(s, e + 1):
            if arr[i] > k:
                num = min(num, arr[i])
        answer.append(num if num != int(1e9) else -1)
    return answer