<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EC%88%98%EC%97%B4%EA%B3%BC_%EA%B5%AC%EA%B0%84_%EC%BF%BC%EB%A6%AC_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 정수 배열 arr와 2차원 정수 배열 queries이 주어집니다.
# queries의 원소는 각각 하나의 query를 나타내며, [s, e] 꼴입니다.

# 각 query마다 순서대로 s ≤ i ≤ e인 모든 i에 대해 arr[i]에 1을 더합니다.

# 위 규칙에 따라 queries를 처리한 이후의 arr를
# return 하는 solution 함수를 완성해 주세요.

# 제한사항
# 1 ≤ arr의 길이 ≤ 1,000
# 0 ≤ arr의 원소 ≤ 1,000,000
# 1 ≤ queries의 길이 ≤ 1,000
# 0 ≤ s ≤ e < arr의 길이

# 입출력 예
# arr	                queries	                      result
# [0, 1, 2, 3, 4]	    [[0, 1],[1, 2],[2, 3]]	      [1, 3, 4, 4, 4]

# 입출력 예 설명
# 입출력 예 #1
# 각 쿼리에 따라 arr가 다음과 같이 변합니다.
# i	          queries[i]	      arr
# -	          -	                [0, 1, 2, 3, 4]
# 0	          [0,1]	            [1, 2, 2, 3, 4]
# 1	          [1,2]	            [1, 3, 3, 3, 4]
# 2	          [2,3]	            [1, 3, 4, 4, 4]
# 따라서 [1, 3, 4, 4, 4]를 return 합니다.

In [16]:
# 이게 왜 틀린건지 모르겠음 답은 나오는데 빵점 뜨네 ㅠㅠ
# def solution(arr, queries):
#     for i in arr:
#       for j, k in queries:
#         if j <= i and i <= k:
#           arr[i] += 1
#     answer = arr
#     return answer

In [18]:
# 이 풀이를 봤지만 나랑 뭐가 다른건지 모르겠다 ㅠㅠ
def solution(arr, queries):
    for i in queries :
      for k in range(i[0],i[1]+1):
        arr[k] +=1
    return arr

In [19]:
arr = [0, 1, 2, 3, 4]
queries = [[0, 1],[1, 2],[2, 3]]
solution(arr, queries)

[1, 3, 4, 4, 4]

In [20]:
# 다른 사람 풀이

In [21]:
# 잘하노
def solution(arr, queries):
    for (s, e) in queries:
        arr = [a+1 if s <= i <= e else a for i, a in enumerate(arr)]
    return arr