<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EC%88%9C%EC%84%9C%EC%8C%8D%EC%9D%98_%EA%B0%9C%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 순서쌍이란 두 개의 숫자를 순서를 정하여 짝지어 나타낸 쌍으로 (a, b)로 표기합니다.
# 자연수 n이 매개변수로 주어질 때 두 숫자의 곱이 n인 자연수 순서쌍의 개수를
# return하도록 solution 함수를 완성해주세요.

# 제한사항
# 1 ≤ n ≤ 1,000,000

# 입출력 예
# n	      result
# 20	      6
# 100	      9

# 입출력 예 설명
# 입출력 예 #1
# n이 20 이므로 곱이 20인 순서쌍은 (1, 20), (2, 10), (4, 5), (5, 4), (10, 2), (20, 1) 이므로 6을
# return합니다.

# 입출력 예 #2
# n이 100 이므로 곱이 100인 순서쌍은
# (1, 100), (2, 50), (4, 25), (5, 20), (10, 10), (20, 5), (25, 4), (50, 2), (100, 1) 이므로 9를
# return합니다.

In [12]:
# 이게 왜 틀린건지 모르겠네 ㅠㅠ
# 답은 제대로 나오는데 프로그래머스에서 50점으로 탈락함.
def solution(n):
    answer = 0
    for i in range(1, n+1):
      for j in range(1, n+1):
        if i * j == n:
          answer += 1
    return answer

In [13]:
n = 20
solution(n)

6

In [14]:
n = 100
solution(n)

9

In [25]:
def solution(n):
    answer = 0
    for i in range(1, n+1):
      if n % i == 0:
        answer += 1
    return answer

In [26]:
n = 20
solution(n)

6

In [ ]:
n = 100
solution(n)

In [19]:
# 다른 사람 풀이

In [ ]:
# filter()함수 적용, 신박한 한줄 코드
def solution(n):
    return len(list(filter(lambda v: n % (v+1) == 0, range(n))))

In [ ]:
# 왜 range(n) 이 가능한지 모르겠음 내가 하면 에러남
# 그리고 range(n) 이면 n-1 까지 일텐데 n = 20 이면 (20, 1)이 빠지는거 아닌가?
def solution(n):
    answer =0
    for i in range(n):
        if n % (i+1) ==0:
            answer +=1
    return answer

In [ ]:
# 또하나 신기한코드 루트 생각해서 만든 코드
def solution(n):
    answer = 0
    for i in range(1, int(n ** 0.5) + 1):
        if n % i == 0:
            answer += 2

            if i * i == n:
                answer -= 1

    return answer