<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EC%95%84%EC%9D%B4%EC%8A%A4_%EC%95%84%EB%A9%94%EB%A6%AC%EC%B9%B4%EB%85%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문제 설명
# 머쓱이는 추운 날에도 아이스 아메리카노만 마십니다.
# 아이스 아메리카노는 한잔에 5,500원입니다.
# 머쓱이가 가지고 있는 돈 money가 매개변수로 주어질 때,
# 머쓱이가 최대로 마실 수 있는 아메리카노의 잔 수와 남는 돈을
# 순서대로 담은 배열을 return 하도록 solution 함수를 완성해보세요.

# 제한사항
# 0 < money ≤ 1,000,000

# 입출력 예
# money	      result
# 5,500	      [1, 0]
# 15,000	    [2, 4000]

# 입출력 예 설명
# 입출력 예 #1
# 5,500원은 아이스 아메리카노 한 잔을 살 수 있고 잔돈은 0원입니다.

# 입출력 예 #2
# 15,000원은 아이스 아메리카노 두 잔을 살 수 있고 잔돈은 4,000원입니다.

In [7]:
def solution(money):
    answer = [money // 5500, money % 5500]
    return answer

In [8]:
money = 5500
solution(money)

[1, 0]

In [10]:
money = 15000
solution(money)

[2, 4000]

In [11]:
# 다른 사람 풀이

In [12]:
# divmod() 새로운 함수 알아감
def solution(money):
    return divmod(money, 5500)

In [13]:

def solution(money):
    a,b = divmod(money,5500)
    return [a,b]

In [14]:
# 변수를 만들고 리턴에 변수를 넣는다
def solution(money):
    cup = money//5500
    change = money%5500
    return [cup, change]