<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EC%97%B0%EC%86%8D%EB%90%9C_%EC%88%98%EC%9D%98_%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 연속된 세 개의 정수를 더해 12가 되는 경우는 3, 4, 5입니다.
# 두 정수 num과 total이 주어집니다.
# 연속된 수 num개를 더한 값이 total이 될 때,
# 정수 배열을 오름차순으로 담아 return하도록 solution함수를 완성해보세요.

# 제한사항
# 1 ≤ num ≤ 100
# 0 ≤ total ≤ 1000
# num개의 연속된 수를 더하여 total이 될 수 없는 테스트 케이스는 없습니다.

# 입출력 예
# num	      total	          result
# 3	         12	            [3, 4, 5]
# 5	         15	            [1, 2, 3, 4, 5]
# 4	         14	            [2, 3, 4, 5]
# 5	          5	            [-1, 0, 1, 2, 3]

# 입출력 예 설명
# 입출력 예 #1
# num = 3, total = 12인 경우 [3, 4, 5]를 return합니다.

# 입출력 예 #2
# num = 5, total = 15인 경우 [1, 2, 3, 4, 5]를 return합니다.

# 입출력 예 #3
# 4개의 연속된 수를 더해 14가 되는 경우는 2, 3, 4, 5입니다.

In [8]:
# 이해는 다 되는데 코드를 못짜겠음 ㅠㅠ
# 수학적 솔루션을 먼저 짜보자
# 12 / 3 = 4
# 15 / 5 = 3
# 14 / 4 = 3.5
# 5 / 5 = 1
def solution(num, total):
    mid = total // num
    half = num // 2
    top = mid + half +1
    bot = top - num
    answer = [i for i in range(bot, top)]
    return answer
# 이해는 했지만 다시 보면 또 모를거 같은 느낌
# 주기적으로 봐야겠음

In [9]:
num = 3
total = 12
solution(num, total)

[3, 4, 5]

In [10]:
num = 5
total = 15
solution(num, total)

[1, 2, 3, 4, 5]

In [11]:
num = 4
total = 14
solution(num, total)

[2, 3, 4, 5]

In [12]:
num = 5
total = 5
solution(num, total)

[-1, 0, 1, 2, 3]

In [13]:
# 다른 사람 풀이

In [14]:
# 이런거 보면 참 간단하네
# 이해는 안간단하네
def solution(num, total):
    return [(total - (num * (num - 1) // 2)) // num + i for i in range(num)]

In [15]:
# 이거 간단하게 괜찮은듯, 코드도 별로 안어렵고
def solution(num, total):
    answer = []
    var = sum(range(num+1))
    diff = total - var
    start_num = diff//num
    answer = [i+1+start_num for i in range(num)]
    return answer

In [16]:
# 이런거 보면 수학도 코드도 참 ㅋㅋㅋ
def solution(num, total):
    if num % 2 == 1:
        return list(range(total//num-num//2, total//num+num//2+1))
    else:
        return list(range(total//num-num//2+1, total//num+num//2+1))

In [ ]:
def solution(num, total):
    # base
    # offset
    # # sum of offsets = num(num-1) / 2
    base = total - num * (num-1) / 2
    base = int(base // num)
    answer = [i for i in range(base, base+num)]
    return answer