<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EC%9B%90%EC%86%8C%EB%93%A4%EC%9D%98_%EA%B3%B1%EA%B3%BC_%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 정수가 담긴 리스트 num_list가 주어질 때,
# 모든 원소들의 곱이 모든 원소들의 합의 제곱보다 작으면 1을 크면 0을
# return하도록 solution 함수를 완성해주세요.

# 제한사항
# 2 ≤ num_list의 길이 ≤ 10
# 1 ≤ num_list의 원소 ≤ 9

# 입출력 예
# num_list	            result
# [3, 4, 5, 2, 1]	        1
# [5, 7, 8, 3]	          0

# 입출력 예 설명
# 입출력 예 #1
# 모든 원소의 곱은 120, 합의 제곱은 225이므로 1을 return합니다.

# 입출력 예 #2
# 모든 원소의 곱은 840, 합의 제곱은 529이므로 0을 return합니다.

In [5]:
def solution(num_list):
    answer = 0
    a = 1
    for i in num_list:
      a *= i
    if a < sum(num_list) ** 2:
      answer = 1
    elif a > sum(num_list) ** 2:
      answer = 0
    return answer

In [6]:
num_list = [3, 4, 5, 2, 1]
solution(num_list)

1

In [7]:
num_list = [5, 7, 8, 3]
solution(num_list)

0

In [8]:
# 다른 사람 풀이

In [9]:
def solution(num_list):
    s=sum(num_list)**2
    m=eval('*'.join([str(n) for n in num_list]))
    return 1 if s>m else 0

In [ ]:
def solution(num_list):
    a=1
    b=0
    for x in num_list:
        a*=x
        b+=x
    if a<b*b: return 1
    return 0