<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EC%9D%B4%EC%96%B4_%EB%B6%99%EC%9D%B8_%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 정수가 담긴 리스트 num_list가 주어집니다.
# num_list의 홀수만 순서대로 이어 붙인 수와 짝수만 순서대로 이어 붙인 수의 합을
# return하도록 solution 함수를 완성해주세요.

# 제한사항
# 2 ≤ num_list의 길이 ≤ 10
# 1 ≤ num_list의 원소 ≤ 9
# num_list에는 적어도 한 개씩의 짝수와 홀수가 있습니다.

# 입출력 예
# num_list	                result
# [3, 4, 5, 2, 1]	          393
# [5, 7, 8, 3]	            581

# 입출력 예 설명
# 입출력 예 #1
# 홀수만 이어 붙인 수는 351이고 짝수만 이어 붙인 수는 42입니다.
# 두 수의 합은 393입니다.

# 입출력 예 #2
# 홀수만 이어 붙인 수는 573이고 짝수만 이어 붙인 수는 8입니다. 두 수의 합은 581입니다.

In [5]:
def solution(num_list):
    o = ''
    e = ''
    for i in num_list:
      if i % 2 == 1:
        o += str(i)
      else:
        e += str(i)
    answer = int(e) + int(o)
    return answer

In [6]:
num_list = [3, 4, 5, 2, 1]
solution(num_list)

393

In [7]:
num_list = [5, 7, 8, 3]
solution(num_list)

581

In [8]:
# 다른 사람 풀이

In [9]:
def solution(num_list):
    even=int(''.join([str(i) for i in num_list if i%2==0]))
    odd=int(''.join([str(i) for i in num_list if not i%2==0]))
    return even+odd