<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EC%A0%80%EC%A3%BC%EC%9D%98_%EC%88%AB%EC%9E%90_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 3x 마을 사람들은 3을 저주의 숫자라고 생각하기 때문에 3의 배수와 숫자 3을 사용하지 않습니다.
# 3x 마을 사람들의 숫자는 다음과 같습니다.

# 10진법	3x 마을에서 쓰는 숫자
# 1	              1
# 2               2
# 3	              4
# 4	              5
# 5	              7
# 6               8
# 7               10
# 8               11
# 9               14
# 10              16
# 정수 n이 매개변수로 주어질 때, n을 3x 마을에서 사용하는 숫자로 바꿔
# return하도록 solution 함수를 완성해주세요.

# 제한사항
# 1 ≤ n ≤ 100

# 입출력 예
# n	      result
# 15	      25
# 40	      76

# 입출력 예 설명
# 입출력 예 #1
# 15를 3x 마을의 숫자로 변환하면 25입니다.

# 입출력 예 #2
# 40을 3x 마을의 숫자로 변환하면 76입니다.

In [23]:
# 3 들어가는 숫자를 제거 못해서 풀이봄 ㅠㅠ

# def solution(n):
#     answer = 0
#     v = []
#     v3 = []
#     for i in range(1, 300):
#       if i % 3 != 0 &
#         v.append(i)
#     for j in v:
#       if j % 10 != 3




#     return answer

In [24]:
# 풀이
def solution(n):
    answer = 0
    while n:
      # 3x increment
      while True:
        answer += 1
        if answer % 3 == 0 or "3" in str(answer):
          pass
        else:
          break
      # counter decrement     <-- 이 부분이 이해가 안감 왜 n-=1이 되는지
      n -= 1
    return answer

In [25]:
n = 15
solution(n)

25

In [26]:
n = 40
solution(n)

76

In [27]:
# 내가 이렇게 풀려 했던건데.. 이걸보니 뭘 잘못 생각 했는지 알겠음
def solution(n):
    answer = 0
    for _ in range(n):
        answer += 1
        while answer % 3 == 0 or '3' in str(answer):
            answer += 1
    return answer

In [ ]:
# 이거도 n-=1을 모르겠음
def solution(n):
    answer = 0

    i = 1
    while n:
        if i % 3 and '3' not in str(i):
            n -= 1
        i += 1
    answer = i - 1

    return answer