<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EC%A0%95%EC%88%98_%EB%B6%80%EB%B6%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 실수 flo가 매개 변수로 주어질 때,
# flo의 정수 부분을 return하도록 solution 함수를 완성해주세요.

# 제한사항
# 0 ≤ flo ≤ 100

# 입출력 예
# flo	      result
# 1.42	      1
# 69.32	      69

# 입출력 예 설명
# 입출력 예 #1
# 1.42의 정수 부분은 1입니다.

# 입출력 예 #2
# 69.32의 정수 부분은 69입니다.

In [3]:
def solution(flo):
    answer = int(flo)

    return answer

In [4]:
flo = 1.42
solution(flo)

1

In [5]:
flo = 69.32
solution(flo)

69

In [6]:
# 다른 사람 풀이

In [7]:
# ㅋㅋㅋㅋㅋ
def solution(flo):
    return flo//1

In [8]:
import math
def solution(flo):
    answer = math.floor(flo)
    return answer

In [9]:
from math import floor
def solution(flo):
    return floor(flo)