<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EC%A0%9C%EA%B3%B1%EC%88%98_%ED%8C%90%EB%B3%84%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 어떤 자연수를 제곱했을 때 나오는 정수를 제곱수라고 합니다.
# 정수 n이 매개변수로 주어질 때, n이 제곱수라면 1을 아니라면 2를 return하도록 solution 함수를 완성해주세요.

# 제한사항
# 1 ≤ n ≤ 1,000,000

# 입출력 예
# n	        result
# 144	        1
# 976	        2

# 입출력 예 설명
# 입출력 예 #1
# 144는 12의 제곱이므로 제곱수입니다. 따라서 1을 return합니다.

# 입출력 예 #2
# 976은 제곱수가 아닙니다. 따라서 2를 return합니다.

In [4]:
# 0.5제곱 하는걸 몰라서 시간 보냄
def solution(n):
    num = n ** 0.5
    if num == int(num):
      answer = 1
    else:
      answer = 2

    return answer

In [5]:
n = 144
solution(n)

1

In [6]:
n = 976
solution(n)

2

In [7]:
# 다른 사람 풀이

In [8]:
# 한줄 코드
# 나눈 값이 정수이면 1 리턴
def solution(n):
    return 1 if (n ** 0.5).is_integer() else 2

In [9]:
# 나눈 값의 나머지가 0이면 1리턴
def solution(n):
    return 1 if (n ** 0.5) % 1 == 0 else 2

In [10]:
# 이런 생각도 가능
def solution(n):
    for i in range(1,n):
        if n == i * i:
            return 1
    return 2

In [ ]:
# math 사용
import math

def solution(n):
    return 1 if int(math.sqrt(n)) ** 2 == n else 2