<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EC%A1%B0%EA%B1%B4%EC%97%90_%EB%A7%9E%EA%B2%8C_%EC%88%98%EC%97%B4_%EB%B3%80%ED%99%98%ED%95%98%EA%B8%B0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 정수 배열 arr가 주어집니다.
# rr의 각 원소에 대해 값이 50보다 크거나 같은 짝수라면 2로 나누고,
# 50보다 작은 홀수라면 2를 곱합니다.
# 그 결과인 정수 배열을 return 하는 solution 함수를 완성해 주세요.

# 제한사항
# 1 ≤ arr의 길이 ≤ 1,000,000
# 1 ≤ arr의 원소의 값 ≤ 100

# 입출력 예
# arr	                          result
# [1, 2, 3, 100, 99, 98]	      [2, 2, 6, 50, 99, 49]

# 입출력 예 설명
# 입출력 예 #1
# 1, 3은 50 미만의 홀수 이므로 2를 곱하고, 100, 98은 50 이상의 짝수이므로 2로 나눕니다.
# 나머지 값들은 변경 조건에 해당하지 않으므로 바꾸지 않습니다.
# 따라서 [2, 2, 6, 50, 99, 49]를 return 합니다.

In [3]:
def solution(arr):
    answer = []
    for i in arr:
      if i < 50 and i % 2 == 1:
        answer.append(i * 2)
      elif i >= 50 and i % 2 == 0:
        answer.append(i // 2)
      else:
        answer.append(i)

    return answer

In [4]:
arr = [1, 2, 3, 100, 99, 98]
solution(arr)

[2, 2, 6, 50, 99, 49]

In [ ]:
# 다른 사람 풀이

In [5]:
# ㅇ이렇게 하면 되는군
# 한줄 코드 짜보려 노력중
def solution(arr):
    return [num/2 if num>=50 and num%2==0 else (num*2 if num<50 and num%2==1 else num) for num in arr]