<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EC%A7%81%EA%B0%81%EC%82%BC%EA%B0%81%ED%98%95_%EC%B6%9C%EB%A0%A5%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# "*"의 높이와 너비를 1이라고 했을 때, "*"을 이용해 직각 이등변 삼각형을 그리려고합니다.
# 정수 n 이 주어지면 높이와 너비가 n 인 직각 이등변 삼각형을 출력하도록 코드를 작성해보세요.

# 제한사항
# 1 ≤ n ≤ 10

# 입출력 예
# 입력 #1
# 3

# 출력 #1
# *
# **
# ***
# 입출력 예 설명

# 입출력 예 #1
# n이 3이므로 첫째 줄에 * 1개, 둘째 줄에 * 2개, 셋째 줄에 * 3개를 출력합니다.

In [5]:
# 문제 이해못함 문제 설명이 이상함
# 그냥 별찍기 인데 ㅋㅋㅋㅋ 이상하게 설명해서 헷갈림
n = int(input())
for num in range(1, n+1):
  print("*" * num)

4
*
**
***
****

In [5]:
# 와우 신기 하구만 ㅋㅋㅋ
print('\n'.join('*' * (i + 1) for i in range(int(input()))))