<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EC%A7%9D%EC%88%98%EB%8A%94_%EC%8B%AB%EC%96%B4%EC%9A%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 정수 n이 매개변수로 주어질 때,
# n 이하의 홀수가 오름차순으로 담긴 배열을 return하도록 solution 함수를 완성해주세요.

# 제한사항
# 1 ≤ n ≤ 100

# 입출력 예
# n	          result
# 10	        [1, 3, 5, 7, 9]
# 15	        [1, 3, 5, 7, 9, 11, 13, 15]

# 입출력 예 설명
# 입출력 #1
# 10 이하의 홀수가 담긴 배열 [1, 3, 5, 7, 9]를 return합니다.

# 입출력 #1
# 15 이하의 홀수가 담긴 배열 [1, 3, 5, 7, 9, 11, 13, 15]를 return합니다.

In [12]:
def solution(n):
    answer = [i for i in range(1, n+1, 2)]
    return answer

In [18]:
def solution(n):
    answer = []
    for i in range(1, n+1):
      if i % 2 != 0:
        answer.append(i)

    return answer

In [19]:
n = 10
solution(n)

[1, 3, 5, 7, 9]

In [20]:
n = 15
solution(n)

[1, 3, 5, 7, 9, 11, 13, 15]

In [21]:
# 다른 사람 풀이

In [22]:
# 이렇게도 가능
def solution(n):
    return list(range(1, n+1, 2))

In [ ]:
# 내꺼 약간 틀어서, 똑같은거임
def solution(n):
    answer = []

    for i in range(1, n + 1):
        if i % 2 == 1:
            answer.append(i)

    return answer