<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%EC%B5%9C%EB%8C%93%EA%B0%92_%EB%A7%8C%EB%93%A4%EA%B8%B0_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 정수 배열 numbers가 매개변수로 주어집니다.
# numbers의 원소 중 두 개를 곱해 만들 수 있는 최댓값을 return하도록 solution 함수를 완성해주세요.

# 제한사항
# 0 ≤ numbers의 원소 ≤ 10,000
# 2 ≤ numbers의 길이 ≤ 100

# 입출력 예
# numbers	                 result
# [1, 2, 3, 4, 5]	           20
# [0, 31, 24, 10, 1, 9]	    744

# 입출력 예 설명
# 입출력 예 #1
# 두 수의 곱중 최댓값은 4 * 5 = 20 입니다.

# 입출력 예 #1
# 두 수의 곱중 최댓값은 31 * 24 = 744 입니다.

In [8]:
def solution(numbers):
    numbers.sort()
    answer = numbers[-1] * numbers[-2]
    return answer
    # max()만 생각하다 시간 보냄. 보다 넓게 생각 해야함

In [9]:
numbers = [1, 2, 3, 4, 5]
solution(numbers)

20

In [10]:
numbers = [0, 31, 24, 10, 1, 9]
solution(numbers)

744

In [20]:
# 다른사람 풀이

In [21]:
# pop()으로 뽑아내기
def solution(numbers):

    numbers.sort()

    num1 = numbers.pop()
    num2 = numbers.pop()
    answer = num1 * num2

    return answer

In [22]:
# 정렬을 내림차순으로 해서 앞에꺼 찾기
def solution(numbers):
    numbers.sort(reverse=True)
    return numbers[0]*numbers[1]

In [23]:
# 이렇게도 정렬 가능
def solution(numbers):
    numbers = sorted(numbers, reverse=True)
    return numbers[0]*numbers[1]