<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%ED%8A%B9%EB%B3%84%ED%95%9C_%EC%9D%B4%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 문제 설명
# 정수 n이 매개변수로 주어질 때,
# 다음과 같은 n × n 크기의 이차원 배열 arr를
# return 하는 solution 함수를 작성해 주세요.

# arr[i][j] (0 ≤ i, j < n)의 값은 i = j라면 1, 아니라면 0입니다.
# 제한사항
# 1 ≤ n ≤ 100

# 입출력 예
# n	      result
# 3	      [[1, 0, 0], [0, 1, 0], [0, 0, 1]]
# 6	      [[1, 0, 0, 0, 0, 0], [0, 1, 0, 0, 0, 0], [0, 0, 1, 0, 0, 0], [0, 0, 0, 1, 0, 0], [0, 0, 0, 0, 1, 0], [0, 0, 0, 0, 0, 1]]
# 1	      [[1]]

# 입출력 예 설명
# 입출력 예 #1
# 예제 1번의 n의 값은 3으로 다음과 같이 2차원 배열을 채울 수 있습니다.

# i\j	  0   	1   	2
#  0	  1	    0	    0
#  1	  0   	1   	0
#  2	  0   	0   	1
# 따라서 [[1, 0, 0], [0, 1, 0], [0, 0, 1]]을 return 합니다.

# 입출력 예 #2
# 예제 2번의 n의 값은 6으로 다음과 같이 2차원 배열을 채울 수 있습니다.

# i\j	    0	    1   	2   	3   	4   	5
#  0	    1	    0	    0	    0	    0   	0
#  1	    0	    1	    0	    0	    0	    0
#  2	    0	    0	    1	    0	    0	    0
#  3	    0	    0	    0	    1	    0	    0
#  4	    0	    0	    0	    0	    1	    0
#  5	    0	    0	    0	    0	    0	    1
# 따라서 [[1, 0, 0, 0, 0, 0], [0, 1, 0, 0, 0, 0], [0, 0, 1, 0, 0, 0], [0, 0, 0, 1, 0, 0], [0, 0, 0, 0, 1, 0], [0, 0, 0, 0, 0, 1]]을 return 합니다.

# 입출력 예 #3
# 예제 1번의 n의 값은 1이고 다음과 같이 2차원 배열을 채울 수 있습니다.

# i\j	    0
#  0	    1
# 따라서 [[1]]을 return 합니다.

In [142]:
# 도저히 모르겠음 풀이 봄
# 얕은 복사라서 안된다고 하네. [[0]*n]*n 이 방법 자체가 틀린거라함 ㅠㅠ
# import copy
# def solution(n):
#     a = [[0]*n]*n
#     answer = copy.deepcopy(a)
#     while n >= 0:
#       n -= 1
#       answer[n][n] = 1

#     return answer

In [148]:
# 이렇게 하니까 바로 나옴
# 이번 문제 진짜 많이 배움
# 새로운 영역 새로운 생각
def solution(n):
    answer = [[0 for i in range(n)] for j in range(n)]
    for i in range(n):
      answer[i][i] = 1

    return answer

In [149]:
n = 3
solution(n)

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [150]:
n = 6
solution(n)

[[1, 0, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0],
 [0, 0, 1, 0, 0, 0],
 [0, 0, 0, 1, 0, 0],
 [0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 1]]

In [151]:
n = 1
solution(n)

[[1]]

In [3]:
# 다른 사람 풀이

In [152]:
def solution(n):
    answer=[[0]*n for i in range(n)]
    for i in range(n): answer[i][i]=1
    return answer

In [153]:
import numpy as np

def solution(n):
    return np.eye(n).tolist()

In [154]:
def solution(n):
    answer = [[0]*n for _ in range(n)]
    for i in range(n):
        for j in range(n):
            if i==j:
                answer[i][j] += 1
                break
    return answer

In [155]:
def solution(n):
    result = []
    for i in range(n):
        arr = [0] * n
        arr[i] = 1
        result.append(arr)
    return result