<a href="https://colab.research.google.com/github/YonggunJung/Programmers/blob/main/%ED%99%80%EC%A7%9D%EC%97%90_%EB%94%B0%EB%9D%BC_%EB%8B%A4%EB%A5%B8_%EA%B0%92_%EB%B0%98%ED%99%98%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# 양의 정수 n이 매개변수로 주어질 때,
# n이 홀수라면 n 이하의 홀수인 모든 양의 정수의 합을 return 하고
# n이 짝수라면 n 이하의 짝수인 모든 양의 정수의 제곱의 합을 return 하는
# solution 함수를 작성해 주세요.

# 제한사항
# 1 ≤ n ≤ 100

# 입출력 예
# n	    result
# 7	      16
# 10	    220

# 입출력 예 설명
# 입출력 예 #1
# 예제 1번의 n은 7로 홀수입니다.
# 7 이하의 모든 양의 홀수는 1, 3, 5, 7이고
# 이들의 합인 1 + 3 + 5 + 7 = 16을 return 합니다.

# 입출력 예 #2
# 예제 2번의 n은 10으로 짝수입니다.
# 10 이하의 모든 양의 짝수는 2, 4, 6, 8, 10이고
# 이들의 제곱의 합인 22 + 42 + 62 + 82 + 102 = 4 + 16 + 36 + 64 + 100 = 220을
# return 합니다.

In [31]:
# range(start, end, step) 이 step 때문에 시간 걸림
def solution(n):
    answer = 0
    for i in range(n, 0, -2):
      if n % 2 !=0:
        answer += i
      else:
        answer += i**2
    return answer

In [32]:
n = 7
solution(n)

16

In [33]:
n = 10
solution(n)

220

In [34]:
# 다른 사람 풀이

In [ ]:
# 이렇게 한줄로 나오는거도 신기함, 알면 보이는데 모르면 안보일듯
def solution(n):
    return sum(x ** (2 - x % 2) for x in range(n + 1) if n % 2 == x % 2)